@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.login-page{
    padding: 50px 50px 50px 80px;
    width: 100%;
    display: flex;
}

.login-inner_left{
    width: 30%;
}

.login-inner_right{
    width: 70%;
    text-align: center;
}

.login-container{
    display: flex;
    flex-direction: column;
}

.login-label{
    margin-top: 7%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-weight: 600;
}

.login-input{
    width: 100%;
    height: 44px;
    border-radius: 12px;
    border: 1px solid gray;
    margin-top: 8px;
    font-size: 14px;
    /* padding-left: 5px; */
    text-align: center;
    padding: 10px 10px 10px 19px;
    /* font-family: 'Cormorant', serif; */
}

.login-btn{
    width: 100%;
    margin-top: 8%;
    height: 44px;
    border-radius: 14px;
    background-color: #86e3ce;
    border-color: #86e3ce;
    border-bottom: #86e3ce;
    border-right: #86e3ce;
    outline: none;
    color: white;
    font-weight: 700;
}

.login-text{
    margin-top: 30px;
}

.login-span{
    margin-left: 15px;
}
.register-facebook{
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    height: 50px;
    padding:0 22px;
    margin-right: 14px;
    text-decoration: none;
    outline: none;
    color: #fff;
    backface-visibility: hidden;
    background-color: #3b5998;
    border: none;
}

.register-google{
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    height: 50px;
    padding:0 22px;
    margin-right: 14px;
    text-decoration: none;
    outline: none;
    color: #fff;
    backface-visibility: hidden;
    background-color: #d62d20;
    border: none;
}

.register-twitter{
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    height: 50px;
    padding:0 22px;
    text-decoration: none;
    outline: none;
    color: #fff;
    backface-visibility: hidden;
    background-color: #28a4e8;
    border: none;
}

.register-facebook:hover{
    background-color: white;
    border: #3b5998 2px solid;
    color: #3b5998;
}

.register-google:hover{
    background-color: white;
    color: #d62d20;
    border: solid 2px #d62d20;
}

.register-twitter:hover{
    background-color: white;
    color: #28a4e8;
    border: 2px solid #28a4e8;
}

.sign-in-us{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 50px; */
}

@media screen and (max-width: 320px){
    .login-page{
        display: flex;
        flex-direction: column;
    }
    .login-inner_left{
        width: 100%;
    }
    .login-inner_right{
        display: none;
    }
    .sign-in-us{
        display: flex;
        flex-direction: column;
    }
    .register-facebook{
        margin-bottom: 10px;
    }
    .register-google{
        margin-bottom: 10px;
    }
}